@model ContosoAssets.SolutionManagement.AzureMarketplaceFulfillment.MarketplaceSubscription

@{
    ViewData["Title"] = "Success";
}

<h1>Success! Subscription is activated</h1>

<div>
    <h4>Subscription details</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfferId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfferId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlanId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlanId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>